body {
  margin: 0;
  overflow: hidden;
}

.container{
  padding: auto;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

.css3d{
  position:absolute;
  top:0;
  pointer-events: none;
  background-color: transparent;
}

.screen{
  z-index: -99;
  display: flex;
  color: white;
  font-weight: bold;
  background-color:blue;
  align-items: center;
  justify-content: center;
  
}

.frame{
  width: 100%;
  height: 100%;
}